// Cartes de l'accuei :l

// Mixin :
@mixin title {
  font-family: "Roboto", sans-serif;
  color: #000;
}

@mixin write {
  font-family: "Roboto", sans-serif;
  color: var(--Grey, #353535);
}

@mixin format_icon {
  width: 13.019px;
  height: 19.903px;
  margin-right: 27px;
  margin-left: 23px;
}

@mixin new {
  color: var(--Green-Font, #008766);
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  margin: 0;
  padding: 9px 7px;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin h4 {
  margin: 16px 0px 5px 16px;
  font-size: 18px;
  font-weight: 700;
  @include title;
}

@mixin paragraphe {
  margin: 0px 0px 12px 13px;
  font-size: 17px;
  font-weight: 300;
  @include title;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

// Variable :
$purple: var(--Primary, #9356dc);

$light-grey: var(--Background, #f6f6f6);

$purple-gradient: var(
  --Button-Gradient,
  linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
);

// Début du code :
.cards {
  padding: 30px 17px 30px 18px;
  display: flex;
  flex-direction: column;
  background-color: $light-grey;
  @media (max-width: 375px) {
    align-items: center;
  }
  @media (min-width: 1440px) {
    padding-right: 80px;
    padding-left: 180px;
    margin-bottom: -50px;
  }

  & h2 {
    display: flex;
    margin: 0px 0px 28px 0px;
    font-size: 24px;
    font-weight: 700;
    @include title;

    @media (min-width: 768px) {
      justify-content: center;
    }
    @media (min-width: 1440px) {
      justify-content: flex-start;
    }
  }

  & .rank-cards {
    display: flex;
    gap: 50px;
    flex-direction: column;
    @media (max-width: 375px) {
      align-items: center;
    }

    @media (min-width: 425px) {
      width: 80%;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    @media (min-width: 1024px) {
      justify-content: center;
    }
    @media (min-width: 1440px) {
      justify-content: flex-start;
      gap: 0px;
    }
  }
  & article {
    height: 251px;
    width: 340px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    @media (max-width: 375px) {
      width: 280px;
    }

    @media (min-width: 1440px) {
      width: 490px;
      margin: 0px 100px 50px 0px;
    }
  }

  & a {
    text-decoration: none;
  }
  & img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  & h3 {
    margin: 0;
    display: flex;
    position: relative;
    top: -160px;
    left: 226px;
    @include new;
    @media (max-width: 375px) {
      left: 170px;
    }
    @media (min-width: 1440px) {
      left: 370px;
    }
  }
  & p {
    margin: -20px;
  }
}

.card-bottom {
  @include space-between;

  & .card-word {
    @include column;
  }

  & h4 {
    @include h4;
  }

  & p {
    @include paragraphe;
  }
}

.card-bottom-2 {
  margin-top: -40px;
  @include space-between;

  & .card-word-2 {
    @include column;
  }
  & h4 {
    @include h4;
  }

  & p {
    @include paragraphe;
  }
}

.cards label {
  background-color: #fff;
  border: 0px;
  margin-right: 33px;
  display: flex;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.heart-container {
  position: relative;
}
.fa-regular {
  font-size: 22px;
  padding-right: 3px;
}

label .fa-solid {
  font-size: 23px;
  font-weight: bold;
  background-image: var(
    --Button-Gradient,
    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.toggle {
  display: none;
}

.toggle:checked + .fa-regular {
  animation: heartregular 2s forwards;
}

.toggle:checked + .fa-regular + .fa-solid {
  animation: heartsolid 2s forwards;
  position: absolute;
  right: 2px;
}

.toggle:not(:checked) + .fa-regular + .fa-solid {
  animation: reverseHeartsolid 5s forwards;
  position: absolute;
}

// Keyframes :
@keyframes reverseHeartregular {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reverseHeartsolid {
  0% {
    transform: scaleY(1.15) scaleX(1);
  }
  100% {
    transform: scaleY(0) scaleX(0);
  }
}
@keyframes heartregular {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heartsolid {
  0% {
    transform: scaleY(0) scaleX(0.2);
  }
  100% {
    transform: scaleY(1.15) scaleX(1);
  }
}
