// Header + partie h1 "Réservez le menu..." ...
// Mixin :
@mixin write {
  font-family: "Roboto", sans-serif;
  color: var(--Grey, #353535);
}

@mixin title {
  font-family: "Roboto", sans-serif;
  color: #000;
}
$purple-gradient: var(
  --Button-Gradient,
  linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
);
// Header:
body {
  margin: 0%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  padding: 14px 0px 13px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

  @media (min-width: 1024px) {
    padding: 30px 0px 31.8px 0px;
  }
  & img {
    width: 162px;
    height: 44px;

    @media (min-width: 1024px) {
      width: 200px;
      height: 34.202px;
    }
  }
}

.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: rgba(234, 234, 234, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  & p {
    font-size: 16px;
    font-weight: 500;
    @include write;
  }
}

// Partie h1 "Réservez le menu...":
.intro {
  background: var(--Background, #f6f6f6);
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    display: flex;
    width: 275px;
    text-align: center;
    margin: 0;
    padding-top: 39px;
    font-size: 24px;
    justify-content: space-around;
    font-weight: 700px;
    @include title;

    @media (min-width: 768px) {
      width: 645px;
      font-size: 26px;
      padding-top: 30px;
    }
    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }

  & p {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 27px;
    @include write;

    @media (min-width: 768px) {
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
  & .button {
    background: $purple-gradient;
    color: white;
    border-radius: 25px;
    height: 50px;
    width: 218px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    margin-bottom: 57px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}
.button:hover {
  filter: brightness(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
