// Mixin :
@mixin title {
  font-family: "Roboto", sans-serif;
  color: #000;
}

@mixin write {
  font-family: "Roboto", sans-serif;
  color: var(--Grey, #353535);
}

@mixin format_icon {
  width: 13.019px;
  height: 19.903px;
  margin-right: 27px;
  margin-left: 23px;
}

@mixin new {
  color: var(--Green-Font, #008766);
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  margin: 0;
  padding: 9px 7px;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin h4 {
  margin: 16px 0px 5px 16px;
  font-size: 18px;
  font-weight: 700;
  @include title;
}

@mixin paragraphe {
  margin: 0px 0px 12px 13px;
  font-size: 17px;
  font-weight: 300;
  @include title;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

// Variable :
$purple: var(--Primary, #9356dc);

$light-grey: var(--Background, #f6f6f6);

// Début du code
.cards {
  padding: 54px 17px 66px 18px;
  display: flex;
  flex-direction: column;
  background-color: $light-grey;

  & h2 {
    display: flex;
    margin: 0px 0px 20px 0px;
    font-size: 24px;
    font-weight: 700;
    @include title;
  }

  & .rank-cards {
    display: flex;
    gap: 18px;
    flex-direction: column;
  }
  & article {
    height: 251px;
    width: 340px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }

  & a {
    text-decoration: none;
  }
  & img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  & h3 {
    margin: 0;
    display: flex;
    position: relative;
    top: -160px;
    left: 226px;
    @include new;
  }
  & p {
    margin: -20px;
  }
}

.card-bottom {
  @include space-between;

  & .card-word {
    @include column;
  }

  & h4 {
    @include h4;
  }

  & p {
    @include paragraphe;
  }
}

.card-bottom-2 {
  margin-top: -40px;
  @include space-between;

  & .card-word-2 {
    @include column;
  }
  & h4 {
    @include h4;
  }

  & p {
    @include paragraphe;
  }
}

.cards button {
  background-color: #fff;
  border: 0px;
  padding-right: 21px;
  display: flex;
}
