@mixin style-text {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
}

footer {
  background-color: #353535;
  padding: 22px 25px;

  & img {
    width: 139px;
    height: 27px;
    margin: 0;
    margin-bottom: 16px;
  }

  & section {
    display: flex;
    flex-direction: column;
  }
  & article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  & .footer-icon {
    @include style-text;
    font-weight: 500;
  }
  & .without-icon {
    @include style-text;
    font-weight: 400;
  }

  & .fa-solid {
    width: 11.918px;
    height: 13px;
    color: #fff;
    margin-right: 7px;
  }
}
