// Mixin :
@mixin style-text {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
}

// Début du code :
footer {
  background-color: #353535;
  padding: 22px 25px;
  @media (min-width: 768px) {
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  @media (min-width: 1024px) {
    flex-direction: row-reverse;
  }
  & img {
    width: 137.582px;
    height: 27px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    @media (min-width: 768px) {
      margin: 0px 0px 5px 30px;
    }
    @media (min-width: 1024px) {
      margin: 30px 0px 0px 60px;
      width: 137.582px;
    }
    @media (min-width: 1440px) {
      margin-right: 25px;
    }
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: 7px;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 15px;
      margin-top: 15px;
    }
    @media (min-width: 1024px) {
      margin-top: 30px;
      margin-right: 30px;
    }
  }

  & .space {
    display: flex;
    flex-direction: column;
    gap: 7px;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 15px;
      @media (min-width: 1024px) {
        margin-right: 30px;
      }
    }
  }
  & .between {
    display: flex;
    flex-direction: column;
    gap: 7px;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 15px;
    }
  }

  & article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  & .footer-icon {
    @include style-text;
    font-weight: 500;
  }
  & .without-icon {
    @include style-text;
    font-weight: 400;
  }

  & .fa-solid {
    width: 11.918px;
    height: 13px;
    color: #fff;
    margin-right: 7px;
  }
}
