$purple-gradient: var(
  --Button-Gradient,
  linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
);
$light-grey: var(--Background, #f6f6f6);

main {
  border-radius: 40px 40px 0px 0px;
  background: $light-grey;
  margin-top: -55px;
  padding: 31px 17px 40px 17px;
  @media (min-width: 768px) {
    margin: -51px 100px 0px 100px;
  }
  @media (min-width: 1024px) {
    margin: -51px 192px 0px 192px;
  }

  & .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
    margin-left: 17px;
    @media (min-width: 768px) {
      gap: 24px;
      justify-content: center;
    }
  }
  & h1 {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    margin: 0%;
  }
}

section {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    padding: 0px 80px 0px 80px;
  }
  @media (min-width: 1024px) {
    padding: 0px 110px 0px 110px;
  }

  & h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    padding-bottom: 5px;
    margin: 40px 0px 0px 0px;
  }
  & .cards-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 425px) {
      margin-left: 17px;
    }
  }

  & .carte {
    display: flex;
    flex-direction: row;
    height: 37px;
    width: 319px;
    border-radius: 15.043px;
    background: var(--White, #fff);
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 12px 0px 0px 0px;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    @media (max-width: 425px) {
      width: 90%;
    }

    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .carte:hover .check {
    margin-right: 0px;
  }
  & .card-menu {
    overflow: hidden;
    white-space: nowrap;
  }
  & h3 {
    margin: 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & p {
    font-family: Roboto;
    font-size: 15.043px;
    font-weight: 300;
    margin: 5px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .check {
    display: flex;
    align-items: flex-end;
    margin-right: -60px;
    transition: margin-right 0.3s ease;
  }

  & svg {
    position: relative;
    right: -15px;
    top: 16px;
  }
}

.button-commander {
  display: flex;
  justify-content: center;
}
.Commander {
  width: 186px;
  height: 50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: var(--White, #fff);
  border-radius: 25px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 0px;
  margin: 40px 81.5px 0px 81px;
}
.commander:hover {
  color: #99e2d0;
}

section.title label {
  background-color: $light-grey;
  border: 0px;

  display: flex;
}

.fa-regular {
  font-size: 22px;
}
.toggle {
  display: none;
}

button:hover {
  filter: brightness(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.entrees {
  animation: menu 3000ms forwards;
  @media (max-width: 425px) {
    width: 100%;
  }
}

.plats {
  animation: menu 3000ms forwards;
  animation-delay: 700ms;
  @media (max-width: 425px) {
    width: 100%;
  }
}

.desserts {
  animation: menu 3000ms forwards;
  animation-delay: 1000ms;
  @media (max-width: 425px) {
    width: 100%;
  }
}
label {
  background-color: #fff;
  border: 0px;
  display: flex;
}

.heart-container {
  overflow: hidden;
  width: 22.5px;
  height: 22.5px;
  position: relative;
}
.fa-regular {
  font-size: 22px;
}

label .fa-solid {
  font-size: 23px;
  font-weight: bold;
  background-image: var(
    --Button-Gradient,
    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.toggle {
  display: none;
}

.toggle:checked + .fa-regular {
  animation: heartregular 2s forwards;
}

.toggle:checked + .fa-regular + .fa-solid {
  animation: heartsolid 2s forwards;
  position: absolute;
  right: 0px;
}

@keyframes heartregular {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heartsolid {
  0% {
    transform: scaleY(0) scaleX(0.2);
  }
  100% {
    transform: scaleY(1.15) scaleX(1);
  }
}

@keyframes menu {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
