// Header des menus

// Mixin:
@mixin title {
  font-family: "Roboto", sans-serif;
  color: #000;
}

// Début du code:
body {
  margin: 0px;
  display: flex;
  flex-direction: column;

  & header {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }

  & .top {
    display: flex;
    flex-direction: row;
    padding: 14px 89px 0px 17px;
    align-items: center;
    height: 63px;
    gap: 10%;

    @media (max-width: 320px) {
      gap: 5%;
    }
    @media (min-width: 425px) {
      gap: 20%;
    }
    @media (min-width: 768px) {
      gap: 30%;
      height: 94.339px;
      padding: 0px 0px 2px 17px;
    }
    @media (min-width: 1024px) {
      gap: 35%;
    }
    @media (min-width: 1440px) {
      gap: 40%;
    }
  }

  & a {
    width: 30px;
    height: 30px;
    margin-right: 42px;
  }
  & img {
    width: 162px;
    height: 36px;
    padding: 0px 19px 0px 16px;
    @media (min-width: 768px) {
      width: 200px;
      height: 34.202px;
      padding: 0px;
    }
    @media (min-width: 320px) {
      margin-left: -25px;
    }
  }
}

.food {
  height: 275px;
  width: 100%;
  object-fit: cover;
  padding: 0;
  @media (min-width: 320px) {
    margin-left: 0px;
  }
  @media (min-width: 1024px) {
    height: 383px;
  }
}
